{% extends 'home/base.html' %}
{% block title %}FEB-UNM{% endblock %}
{% block content %}


<div class="container-search">
    
    <img src="/media/logo/logo_unm.png" alt="University Logo" class="logo">
    <form method="get" action="{% url 'search' %}">
    <div class="search-input">
        <input type="text" name="query" placeholder="Input your keywords (eg: expert’s name / lecturer’s name, program studi, etc)..." value="{{ query|default_if_none:'' }}">
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    </form>
</div>
<div class="container">
    <header>
        <h1>BIDANG KEPAKARAN UNM</h1>
        <p>Menjadi pusat pendidikan ekonomi dan bisnis yang berdaya saing global dengan berwawasan kependidikan dan kewirausahaan pada tahun 2030</p>
    </header>

    <div class="card-container">
        {% for bidang in bidang_list %}
        <div class="card">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <h3>{{ bidang.nama_bidang }}</h3>
            <a class="learn-more" href="{% url 'bidang_kepakaran_detail' slug=bidang.slug %}">Learn More</a>

        </div>
        {% endfor %}
    </div>
</div>




<!-- service -->
<div class="service-container">
    {% for program in program_studi %}
    <div class="service">
        
        <!-- <p class="p-service">Responsif</p> -->
        <a href="{% url 'program_studi_detail' slug=program.slug %}" class="p-service">{{ program.nama_program }}</a>
       
    </div>
    {% endfor %}
</div>

    <!-- Testimonial -->
    <div class="brand-title-wrapper animate__animated animate__slideInLeft"><h5>Minat Penelitian</h5></div>
    <!-- service -->

    <div class="service-container-tag">
        {% for tag in tags %}
               

            <a href="{% url 'users_by_tag' tag.slug %}" class="program-name-tag">#{{ tag.name }}</a>
        {% endfor %}
    </div>
<!-- End service -->

                    {% for news in news_list %}
                    
                                {% if news.images %}
                                <img src="{{ news.images.url }}" class="img-fluid rounded-top w-100" alt="">
                                {% endif %}
                                <div class="blog-categiry py-2 px-4">
                                    <span>{{ news.category }}</span>
                                </div>
                            </div>
                            <div class="blog-content p-4">
                                <div class="blog-comment d-flex justify-content-between mb-3">
                                    <div class="small"><span class="fa fa-user text-primary"></span> {{ news.author }}</div>
                                    <div class="small"><span class="fa fa-calendar text-primary"></span> {{ news.created_at|date:"d M Y" }}</div>
                                    <div class="small"><span class="fa fa-comment-alt text-primary"></span> 6 Comments</div>
                                </div>
                                <a href="{% url 'news_detail' slug=news.slug %}" class="h4 d-inline-block mb-3">{{ news.title }}</a>
                                <!-- <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius libero soluta impedit eligendi? Quibusdam, laudantium.</p> -->
                                <a href="{% url 'news_detail' slug=news.slug %}" class="btn p-0">Read More  <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    



{% endblock %}