
{% extends 'dashboard/base.html' %}
{% block title %}Bidang Kepakaran{% endblock %}
{% block content %}



<div class="main-content">
    <header class="main-header">
        <div class="breadcrumb">
            <span>Pages / Minat</span>
            <h2>Minat Penelitian</h2>
        </div>
       
    </header>

    <div class="container-ku">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            <div>
                <label for="{{ form.tags.id_for_label }}">Tags:</label>
                {{ form.tags }}
                {% if form.tags.errors %}
                    <div class="error">
                        {{ form.tags.errors }}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit">Simpan</button>
        </form>
    </div>
</div>

{% endblock %}