
{% extends 'dashboard/base.html' %}
{% block title %}Bidang Kepakaran{% endblock %}
{% block content %}



<div class="main-content">
    <header class="main-header">
        <div class="breadcrumb">
            <span>Pages / Bidang Kepakaran</span>
            <h2>Kepakaran</h2>
        </div>
        <div class="header-right">
            <a href="{% url 'add_pengabdian' %}" class="btn-add"><i class="fas fa-plus"></i> Bidang Kepakaran</a>
            <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
        </div>
    </header>

    <div class="container-ku">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
           <!-- Bidang Kepakaran -->
<!-- Bidang Kepakaran -->
<div class="form-row">
    <div class="form-group">
        <label for="{{ form.bidang_kepakaran.id_for_label }}">Bidang Kepakaran</label>
        <div id="id_bidang_kepakaran" class="checkbox-list">
            {% for checkbox in form.bidang_kepakaran %}
                <div class="checkbox-item">
                    {{ checkbox.tag }} <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>        
            <!-- Minat Penelitian -->
           

           

            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.program_studi.id_for_label }}">Kategori Penelitian</label>
                    {{ form.program_studi }}
                </div>
            </div>
            
        
        
            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>
</div>

{% endblock %}