<!-- dashboard/pelanggan.html -->

{% extends 'dashboard/base.html' %}
{% block title %}Dashboard Dosen{% endblock %}
{% block content %}
          


        <main class="main-content">
            <header class="main-header">
                <div class="breadcrumb">
                    <span>Pages / Dashboard</span>
                    <h2>Dashboard</h2>
                </div>
                <div class="header-right">
                    <a href="{% url 'add_kepakaran' %}" class="btn-add"><i class="fas fa-plus"></i> Add Kepakaran</a>
                    <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
                    <!-- <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a> -->
                </div>
            </header>
            <section class="main-section">
                <div class="info-container">
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Total Pengabdian</p>
                            <h2>{{total_pengabdian}}</h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-wallet"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Total Penelitian</p>
                            <h2>{{total_penelitian}}</h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Total Buku</p>
                            <h2>{{total_buku}}</h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Total News</p>
                            <h2>{{total_news}}</h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>

             

        
                
                
            </section>
        </main>
    </div>
{% endblock %}
</body>
</html>
