<!-- dashboard/pelanggan.html -->

{% extends 'dashboard/base.html' %}
{% block title %}Dashboard Dosen{% endblock %}
{% block content %}
          


        <main class="main-content">
            <header class="main-header">
                <div class="breadcrumb">
                    <span>Pages / Dashboard</span>
                    <h2>Dashboard</h2>
                </div>
                <div class="header-right">
                    <a href="{% url 'add_kepakaran' %}" class="btn-add"><i class="fas fa-plus"></i> Add Kepakaran</a>
                    <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
                    <!-- <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a> -->
                </div>
            </header>
            <section class="main-section">
                <div class="info-container">
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Total Pengabdian</p>
                            <h2>$53,000 <span class="info-change positive"></span></h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-wallet"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Total Penelitian</p>
                            <h2>2,300 <span class="info-change positive">+3%</span></h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Buku</p>
                            <h2>+3,020 <span class="info-change negative">-14%</span></h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="info-content">
                            <p class="info-title">Halaman Diakses</p>
                            <h2>$173,000 <span class="info-change positive">+8%</span></h2>
                        </div>
                        <div class="info-icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="tag">Information us</p>
                            <h2>Get started</h2>
                            <p>Wealth creation is a revolutionary recent positive-sum game. It is all about who takes the opportunity first.</p>
                            <a href="#" class="read-more">Read more →</a>
                        </div>
                        <div class="card-logo">
                            <img src="/" alt="chakra">
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h2>Work with the rockets</h2>
                            <p>Wealth creation is a revolutionary recent positive-sum game. It is all about who takes the opportunity first.</p>
                            <a href="#" class="read-more">Read more →</a>
                        </div>
                        <div class="card-image">
                            <img src="/" alt="Work with the rockets">
                        </div>
                    </div>
                </div>

        
                
                
            </section>
        </main>
    </div>
{% endblock %}
</body>
</html>
