{% extends 'dashboard/base.html' %}
{% block title %}Organisasi{% endblock %}
{% block content %}



<div class="main-content">
    <header class="main-header">
        <div class="breadcrumb">
            <span>Pages / Add Organisasi</span>
            <h2>Organisasi</h2>
        </div>
        <div class="header-right">
            <a href="{% url 'add_organisasi' %}" class="btn-add"><i class="fas fa-plus"></i> Add Organisasi</a>
            <a href="#" class="bar-icon"><i class="fas fa-bars sidebar-toggle"></i></a>
        </div>
    </header>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nama Organisasi</th>
                    <th>Jabatan</th>
                    <th>Tahun Organisasi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% if organisasi_list %}
                {% for organisasi in organisasi_list %}
                <tr>
                    <td>{{ organisasi.nama_organisasi }}</td>
                    <td>{{ organisasi.jabatan_organisasi }}</td>
                    <td>{{ organisasi.tahun_organisasi }}</td>
                    <td class="action"><a href="{% url 'edit_organisasi' organisasi.id %}" class="btn-edit"><i class="fas fa-pencil-alt"></i>Edit</a>
                        <a href="{% url 'delete_organisasi' organisasi.id %}" class="btn-delete"
                        >
                        <i class="fas fa-trash"></i> Delete
                     </a></td>
                    
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">Tidak ada Organisasi yang tersedia.</td>
                </tr>
                {% endif %}
                
                
               
                
                
                
            </tbody>
        </table>
    </div>
{% endblock %}