
{% extends 'home/base.html' %}
{% block title %}Daftar Pakar {% endblock %}


       



{% block content %}
 <!-- Feature Start -->
 <div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">FEB UNM</h4>
            <h1 class="display-4 mb-4">BIDANG KEPAKARAN</h1>
            <p class="mb-0">Menjadi pusat pendidikan ekonomi dan bisnis yang berdaya saing global dengan berwawasan kependidikan dan kewirausahaan pada tahun 2030
            </p>
        </div>
        <div class="row g-4">

            {% for bidang in bidang_list %}
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">

                        <i class="fa fa-users fa-2x"></i>
                    </div>
                    <h4 class="mb-4">{{ bidang.nama_bidang }}</h4>
                    
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'bidang_kepakaran_detail' slug=bidang.slug %}">Learn More</a>
                </div>
            </div>
            {% endfor %}
            
          
        </div>
    </div>
</div>
<!-- Feature End -->
{% endblock %}