
{% extends 'home/base.html' %}
{% block title %}Kepakaran {{ bidang.nama_bidang }} {% endblock %}


    
{% block content %}


<div class="container">
    <header>
        <h1>BIDANG {{ bidang.nama_bidang|upper }}</h1>
    </header>
    <div class="researcher-list">
        <!-- Repeat this block for each researcher -->
        {% for user in users %}
        <div class="researcher-card">
            <img src="{{ user.image.url }}" alt="Researcher Photo">
            <div class="researcher-info">
             <a href="{% url 'detail_pakar' slug=user.username %}"><h2>{{ user.first_name }} {{ user.last_name }}</h2"></a>   
                <p> {{ user.pakar.program_studi.nama_program }}</p>
                <!-- <p>{{ jumlah_penelitian }} Penelitian</p> -->
            </div>
        </div>
        {% empty %}
        <p>Author's data not available yet at login.febunm.ac.id.</p>
        {% endfor %}     
    </div>
</div>




{% endblock %}