{% extends 'home/base.html' %}
{% block title %}Pakar {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}

<section class="page-header page-header-offset">
<div class="container-hero">
<ol class="breadcrumb text-center">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pages</li>
</ol>
<!-- <div class="container-text">
    <p class="text-center">Kepakaran</p>
    <h2 class="text-center">Detail Pakar</h2>
</div> -->
</div>
</section>
<!-- 
<div class="profile-card">
    <div class="profile-info">
        <img src="{{ user.image.url }}" alt="Profile Picture"  class="profile-image">
        <div class="details">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>

            <div class="icon-text">
                <i class="fas fa-university icon"></i>
                <span>Universitas Negeri Makassar</span>
            </div>

            <div class="icon-text">
                <i class="fas fa-map-marker-alt icon"></i>
                <span> {{ user.address }}</span>
            </div>

            <div class="icon-text">
                <i class="fas fa-envelope icon"></i>
                <span>{{ user.email }}</span>
            </div>
            <div class="icon-text">
                <i class="fas fa-link icon"></i>
                <a href="{% url 'detail_pakar' slug=user.username %}">https://feb.unm.ac.id{% url 'detail_pakar' slug=user.username %}</a>
            </div>


        </div>
    </div>
    <div class="social-media">
        <h3>FOLLOW SOCIAL MEDIA</h3>
        <div class="icons">

            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.google_scholar }}">
                <img src="/media/logo/google.png" style="width: 20px;" alt="Google Scholar">
            </a>
            
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.sinta }}">
                <img src="/media/logo/sinta.png" style="width: 20px;" alt="Google Scholar">
            </a>
           
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.scopus_id }}">
                <img src="/media/logo/scopus.png" style="width: 20px;" alt="Google Scholar">
            </a>
           
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.linkedin }}">
                <img src="/media/logo/link.webp" style="width: 20px;" alt="Google Scholar">
            </a>

          
        </div>
    </div>
</div> -->

<div class="profile-card">
    <div class="profile-info">
        <img src="{{ user.image.url }}" alt="Profile Picture" class="profile-image">
        <div class="details">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>

            <div class="icon-text">
                <i class="fas fa-university icon"></i>
                <span>Universitas Negeri Makassar</span>
            </div>

            <div class="icon-text">
                <i class="fas fa-map-marker-alt icon"></i>
                <span>{{ user.address }}</span>
            </div>

            <div class="icon-text">
                <i class="fas fa-envelope icon"></i>
                <span>{{ user.email }}</span>
            </div>
            <div class="icon-text">
                <i class="fas fa-link icon"></i>
                <a href="{% url 'detail_pakar' slug=user.username %}">https://feb.unm.ac.id{% url 'detail_pakar' slug=user.username %}</a>
            </div>
        </div>
    </div>
    <div class="social-media">
        <h3>FOLLOW SOCIAL MEDIA</h3>
        <div class="icons">
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.google_scholar }}">
                <img src="/media/logo/google.png" style="width: 20px;" alt="Google Scholar">
            </a>
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.sinta }}">
                <img src="/media/logo/sinta.png" style="width: 20px;" alt="Sinta">
            </a>
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.scopus_id }}">
                <img src="/media/logo/scopus.png" style="width: 20px;" alt="Scopus">
            </a>
            <a class="btn btn-outline-primary btn-square mr-2" href="{{ user.linkedin }}">
                <img src="/media/logo/link.webp" style="width: 20px;" alt="LinkedIn">
            </a>
        </div>
    </div>
</div>


<div class="service-container">
    {% for bidang in pakar.bidang_kepakaran.all %}
    <div class="service-bidang">
        <div class="p-service-bidang"> {{ bidang.nama_bidang }}</div>
    </div>
    {% empty %}
    <li>Author's data not available yet at login.febunm.ac.id.</li>
    {% endfor %} 
</div>


<div class="section-pakar">
<div class="header-pakar">
<div class="title-pakar">
    MINAT PENELITIAN
</div>
</div>
<div class="content-pakar">
 
                {% if tags %}
                    <div class="tags-pakar">
                        {% for tag in tags %}
                            <a href="{% url 'users_by_tag' tag.slug %}">{{ tag.name }}{% if not forloop.last %}, {% endif %}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Belum ada minat penelitian yang ditambahkan.</p>
                {% endif %}
         
</div>
</div>

<div class="section-pakar">
<div class="header-pakar">
<div class="title-pakar">
    PENDIDIKAN
</div>
</div>
<div class="content-pakar">
    {% for pendidikan in pakar.pendidikan.all %}
    <div class="card-section"><a href="#">{{ pendidikan.pendidikan }} | {{pendidikan.program_studi}} </a>  <small>{{ pendidikan.tahun }}</small></div>

   {% empty %}
   <li>Author's data not available yet at login.febunm.ac.id.</li>
   {% endfor %}
</div>
</div>


<div class="section-pakar">
    <div class="header-pakar">
    <div class="title-pakar">
        ORGANISASI
    </div>
    </div>
    <div class="content-pakar">
        {% for organisasi in pakar.organisasi.all %}
        <div class="card-section"><a href="#">{{ organisasi.nama_organisasi }} | {{ organisasi.jabatan_organisasi }}  </a>  <small>{{ organisasi.tahun_organisasi }}</small></div>
    
       {% empty %}
       <li>Author's data not available yet at login.febunm.ac.id.</li>
       {% endfor %}
    </div>
    </div>



    <div class="section-pakar">
        <div class="header-pakar">
        <div class="title-pakar">
            PENELITIAN
        </div>
        </div>
        <div class="content-pakar">
            {% for penelitian in pakar.penelitian.all %}
           <div class="card-section"><a href="{{ penelitian.link_penelitian }}">{{ penelitian.judul_penelitian }} | {{ penelitian.tim_penelitian }}  </a>  <small>{{ penelitian.tahun_penelitian }}</small> {{ penelitian.deskripsi_penelitian }}</div>
        
           {% empty %}
           <li>Author's data not available yet at login.febunm.ac.id.</li>
           {% endfor %}
        </div>
        </div>
    

    <div class="section-pakar">
        <div class="header-pakar">
            <div class="title-pakar">
                BUKU
            </div>
        </div>
        <div class="content-pakar">
            {% for book in pakar.book.all %}
           <div class="card-section"><a href="{{ book.link_book }}">{{ book.judul_book }} | {{ book.penerbit }}  </a>  <small>{{ book.tahun_book }}</small></div>
        
           {% empty %}
           <li>Author's data not available yet at login.febunm.ac.id.</li>
           {% endfor %}
        </div>
    </div>
    
    
    <div class="section-pakar">
        <div class="header-pakar">
            <div class="title-pakar">
                PENGABDIAN 
            </div>
        </div>
        <div class="content-pakar">
            {% for pengabdian in pakar.pengabdian.all %}
           <div class="card-section"><a href="{{ penelitian.link_penelitian }}">{{ pengabdian.judul_pengabdian }} | {{ pengabdian.tim_pengabdian }}  </a>  <small>{{ pengabdian.tahun_pengabdian }}</small></div>
        
           {% empty %}
           <li>Author's data not available yet at login.febunm.ac.id.</li>
           {% endfor %}
       </div>
    </div>
    


    <div class="section-pakar">
        <div class="header-pakar">
            <div class="title-pakar">
                NEWS
            </div>
        </div>
        <div class="content-pakar">
            {% for news in pakar.the_news.all %}
           <div class="card-section"><a href="{{ news.link_news }}">{{ news.judul_news }} | {{ news.category }}  </a>  <small>{{ news.created_at|date:"d M Y" }}</small></div>
        
           {% empty %}
           <li>Author's data not available yet at login.febunm.ac.id.</li>
           {% endfor %}
        </div>
    </div>

{% endblock %}



