
{% extends 'home/base.html' %}
{% block title %}Kepakaran {{ bidang.nama_bidang }} {% endblock %}


    
{% block content %}


<div class="container">
    <header>
        <h1>{{ program_studi.nama_program }} </h1>
        <p>Search result found {{ total_pakar }} data with keyword {{ program_studi.nama_program }}</p>
    </header>


    <div class="header">
    </div>
    <div class="researcher-list">
        <!-- Repeat this block for each researcher -->
        {% for user in users %}
        <div class="researcher-card">
            <img src="{{ user.image.url }}" alt="Researcher Photo">
            <div class="researcher-info">
             <a href="{% url 'detail_pakar' slug=user.username %}"><h2>{{ user.first_name }} {{ user.last_name }}</h2"></a>   
                <p> {{ user.pakar.program_studi.nama_program }}</p>
                <p>Pengabdian: {{ user.pakar.pengabdian.all.count }}</p>
                <p>Penelitian: {{ user.pakar.penelitian.all.count }}</p>
            </div>
        </div>
        {% empty %}
        <div class="notfound">
            <p>Author's data not available yet at login.febunm.ac.id.
            </p>
            </div>
        {% endfor %}     
    </div>
</div>
{% endblock %}