

{% extends 'home/base.html' %}
{% block title %}Kepakaran {{ bidang.nama_bidang }} {% endblock %}


    
{% block content %}


<div class="container">
    <header>
        <h1># TAG {{ tag.name|upper }}</h1>
    
    </header>
    <div class="researcher-list">
        <!-- Repeat this block for each researcher -->
        {% for pakar in users %}
        <div class="researcher-card">
            <img src="{{ pakar.user.image.url }}" alt="Researcher Photo">
            <div class="researcher-info">
             <a href="{% url 'detail_pakar' slug=pakar.user.username %}"><h2>{{ pakar.user.first_name }} {{ pakar.user.last_name }}</h2></a>   
             <p>{{ pakar.program_studi.nama_program }}</p>
                <!-- <p>{{ jumlah_penelitian }} Penelitian</p> -->
            </div>
        </div>
        {% endfor %}     
    </div>
</div>

{% endblock %}






